doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Yeeun Kim
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Yeeun
                        span.text-primary Kim
                    .subheading.mb-5
                        | Texas A&M University - commerce · (430) 280-0966 · 
                        a(href='mailto:rileyk279@gmail.com') rileyk279@gmail.com
                    p.lead.mb-5
                        | I'm currently Graduate student at Texas A&M University - commerce on Computer Science base. 
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/rileyeeunkim/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/RileyK27')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Analysis Intern
                            .subheading.mb-3 Sysmate Inc.
                            p
                                | I worked for an analysis team as an Internet traffic analysis company. As part of the Internet Analytics team. My role was working on the adoption of Machine Learning on analysis part using Python. Also workshop on Machine Learning was conducted for employees.
                        .flex-shrink-0
                            span.text-primary 05.2021 - 06.2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Production Engieerning Intern
                            .subheading.mb-3 Hyundai Digitech Inc.
                            p
                                | As a member of the Production Engineering team, I handled company's CMW-500 machines and write chars. Also as a safety manager, checked up the entire company based on EOS once a week and reported to my boss. Participated in the design and structure of the company's production line and was directly put to the field. 
                        .flex-shrink-0
                            span.text-primary 07.2018 - 07.2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Online Proctor
                            .subheading.mb-3 Department of Math
                            p
                                | Supervised children taking tests online. I communicated with co-worders to shared the Excell work.
                        .flex-shrink-0
                            span.text-primary 09.2020 - 04.2021

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Texas A&M University - commerce
                            .subheading.mb-3 Master of Computer Science
                            Computer Science - Thesis Track
                            p GPA: 3.77 / 4.0
                        .flex-shrink-0
                            span.text-primary 08.2020 - Current

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Hannam University
                            .subheading.mb-3 Bachelor of Chemistry
                            p GPA: 3.8 / 4.5
                        .flex-shrink-0
                            span.text-primary 03.2014 - 02.2018

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-python
                    .subheading.mb-3 Skills
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Programing Language: Python, C++, JAVA, html
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Machine Learning: Pytorch, keras, tensorflow, sklearn, scapy
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Big Data: Feature selection, Data normalization, Knime
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Completed course: Data structure, Algorithm Design, Network, Operating System, Computer Architecture
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Program Expirence: Machine Learning, Embedding system

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | As a Graduate Research Assistant study in "Early attack Identity using Transformet Network". Through this research work, I learned how to acquire knowledge on my own by reading the papers, and I was able to improve my overall problem ability.
                    p.mb-0
                        | I'm interested in promoting research promoting research on ways to further increase efficiency in Machine Learning and embedded parts with my future team members.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | KAIST Makers Union Contest 3rd Award "Build earthquake rescue robot using Aduino"


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')